@import '~@angular/material/theming';
@include mat-core();

$mat-primary: (
    50 : #e5f1f3,
    100 : #bfdce2,
    200 : #94c5cf,
    300 : #69aebb,
    400 : #489cad,
    500 : #288b9e,
    600 : #248396,
    700 : #1e788c,
    800 : #186e82,
    900 : #0f5b70,
    A100 : #a4e9ff,
    A200 : #71ddff,
    A400 : #3ed0ff,
    A700 : #25caff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$iea-app-primary: mat-palette($mat-primary);
$iea-app-accent:  mat-palette($mat-pink, A200, A100, A400);

$iea-app-theme: mat-light-theme($iea-app-primary, $iea-app-accent);
@include angular-material-theme($iea-app-theme);