body{
    margin: 0px;
    padding: 0px;
}
main {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.6fr 8fr 0.5fr;
    grid-template-areas:
    "nav"
    "view"
    "footer"
}

nav-bar{
    grid-area: nav;
    /*background: lightseagreen;*/
}

view {
    grid-area: view;
    background: lightgray;
}

footer {
    grid-area: footer;
    background: gray;
}