.right {
    float: right;
}
.mat-step-icon {
    background-color: #288b9e !important;
}
.content-area {
    margin-top: 15px;
    margin-bottom: 15px;
}
.dropzone-btn {
    margin-top: 15px;
    margin-bottom: 30px;
}